name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: CI tests
        run: |
          docker compose -f docker-compose.test.yml up --build --exit-code-from backend-node
